
.container{
    width:600px;
    height:600px;
    border:1px solid black;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: aquamarine;
}
h2{
    font-size:50px;
    margin-top:0;
    margin-bottom:20px;
}
.btn-container{
    position: absolute;
    top:50%;
}
button{
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    font-weight:bold;
    width:200px;
    margin-bottom:5px;
    border-radius: 5px;
}

#increment-btn{
    background-color: darkorange;
}
#save-btn{
    background-color: cadetblue;
}
